@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

                           /*volunteer + donate start*/
.top
      {
          display: flex;
          flex-wrap: wrap;
          background-color: #ff3f34;
          height: 5vh;
      }


   
     ul 
     {
         margin-right: 25px;
     }                                         
ul li 
          {
              display: inline-block;
              margin: 4px 8px;

          }                                     
ul li a 
           {
               position: relative;
               color: #fff;
              text-decoration: none;
              font-size: 15px;font-family: 'Krona One', sans-serif;


                                         }
ul li a:before
                 {
                     position: absolute;
                     content: '';
                     left: 0;
                     bottom: 0;
                     height: 3px;
                     width: 100%;
                     background: white;
                     transform: scaleX(0);
                     transform-origin:center;
                     transition: transform .4s linear;
                 }                              
ul li a:hover 
               {
                color:rgb(37, 36, 36);
                text-decoration: none;

               }                                                 
ul li a:hover:before
                      {
                          transform: scaleX(1);
                          transform-origin: left;
                          
                      }    
          
 @media (max-width:560px) 
 {

    ul li 
          {
              display: inline-block;
              margin: 4px 4px;

          } 
   ul li a       
            {
                font-size: 12px;
                font-weight: bold;
            } 
}                    
                                /*volunteer + donate end*/

                                  /*navbar start*/
nav
    {
        background-color: #fff;
        height: 80px;
    }
    nav img 
    {
      width: 60px;
      height: 60px;
      margin: 10px 1px 0px 5%;
      border-radius: 10px;

     
    }
    nav ul 
    {
        float: right;
        margin-right: 55px;
    }
    nav ul li 
             {
                 display: inline-block;
                 line-height: 80px;
                 margin: 0 15px;

             }
             nav ul li a 
             {
                 position: relative;
                 color: #000;
                text-decoration: none;
                font-size: 15px;font-family: 'Roboto', sans-serif;
                font-weight: bold;

             }
nav ul li a:before
                        {
                             position: absolute;
                             bottom: 0;
                             height: 3px;
                             width: 100%;
                             background: #000;
                        }  
nav ul li a:hover 
                     {
                        color: #1abc9c;

                     }                                                    

label #btn,
label #cancel 
                {
                    color: #000;
                    font-size: 30px;
                    float: right;
                    line-height: 60px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
#check 
      {
        display: none;
     }
     header nav h3  
                    {
                        display: none;
                    }
                                                   
  
@media  (max-width:1083px)
{
 
   header 
            {
              height: 85vh;
            }
 header nav img 
            {
                margin-top: -30px;      
                margin-left: auto;
                display: block;       
                margin-right: 5px;
            }
header nav h3  
            {
                display: block;
                margin-left: auto;
                justify-content: center;
                text-align:center;
                margin-right: 2%;
                margin-top: -70px;
                font-family: 'Poppins', sans-serif;
            }

  label #btn 
        {
            display: block;
            padding: 0 15px;
        }
   header ul 
        {
            position: fixed;
            width: 100%;
            height:84vh;
            background: #fff;
            top: 110px;
            text-align: center;
            left: -100%;
            transition: all .8s;
        }

header nav ul li 
             {
                 display: block;
                 margin: 50px 0;
                 line-height: 4px;
             }   
header nav ul li a 
                 {
                   font-size: 20px;
                 }
                                               
header nav ul li a:hover 
                {
                   color:purple;

                 }
     
    #check:checked ~ ul 
                        {
                            left: 0;
                        }  
    #check:checked ~ label #btn
                                 {
                                     display: none;
                                 }

                        
    #check:checked ~ label #cancel
                                 {
                                     display: block;
                                     color: #000;
                                     padding: 0 15px;
                                 }

.smile a 
           {
               display: none;
           }
 .smile h2 
             {
                 font-size: 12px;
                 margin-bottom: auto;
                 margin-bottom: -19vh!important;
             }          


}                        

                                 /*navbar end*/
                  /*little paragraph with side image start*/
 .mother img
        {
            box-shadow: 5px 5px 15px #000!important;
            border-radius: 1vh!important;
            height: 60vh;
            width: 100vh;
        } 
  @media (max-width:542px)
  {
      .mother img 
                 {
                    width: 40vh;
                    height: 30vh;
                 }
     .mother h2
                  {
                      text-align: center;
                  }            
  }      
  @media (max-width:1082px)
{
    .mother .row 
            {
                margin-top: -50vh!important;
            }        
     .mother img 
                  {
                      justify-content: center;
                      margin-left:auto;
                      display: block;
                  }       
             
}
  

  .mother 
           {
            box-shadow: 5px 5px 15px #000!important;
           border-radius: 0px 0px 15px 15px ;
           }           
  .mother h2 
             {
                 font-weight: bold;

             }        
  .mother p 
             {
                 font-weight: 300;
                 word-spacing: 4px;
                 font-size: 17.5px;
             }                
                
                
                
                
                  /*little paragraph with side image end*/
                               /*quote*/
.quote h4 
          {
              font-size: 20px;
              font-weight: bold;
          }             
 .quote 
         {
             background-color: grey;
         }                           
                               
                               
                               
                               /*quote*/
                               





                                    
                                       /*footer start*/
 .footer
 {
  background: #1b1b1b;

 }                                      
.c1 h4
   {
   font-size: 19px;  
   font-weight: bold;
   color: #fff;
   text-align: left;
  }   
.c1 p
   {
      font-size: 15px;
      color: grey;
    }
.c1 p1 
    {
    font-size: 12px;
    color: rgb(173, 165, 165);
     }
.c1 p2 ,p3,p4
     {
       font-size: 15px;
       color: grey;

     }        
.c3 h3
{
font-size: 19px;  
font-weight: bold;
color: #fff;
text-align: left;
}     
.c3 p
   {
     color: grey;
   }        
.c4 h3 
{
font-size: 19px;  
font-weight: bold;
color: #fff;
text-align: left;
}   
.c4 img 
      {
        border-radius: 50%;
      }
.c4 a 
    {
      color: #fff;
      text-align: center;
    }       
.c4 a:hover 
          {
            color: #000;
            text-decoration: none;
          }        
.c4 p  
    {
     color: grey;
     font-size: 15px;
    }         
.social-icons .fa:hover 
               {
                  color: rgb(38, 119, 173)!important;
               }     
       .social-icons .fa-facebook
                      {
                          color: orangered;
                      }       
                      .social-icons .fa-twitter 
                     {
                         color: green;
                     } 
    .adv a:hover 
                {
                    color: grey!important;
                    font-weight: bold;
                }
    .adv a 
                {
                    font-weight: bold;
                }            
                            
                                     
@media (max-width:350px)
    {
.c4 h3 
    {
        font-size: medium;
        font-weight: bold;
        color: #fff;
       text-align: left;
    }  
    }



                                   /*footer end*/ 