@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

                           /*volunteer + donate start*/
.top
      {
          display: flex;
          flex-wrap: wrap;
          background-color: #ff3f34;
          height: 5vh;
      }


   
     ul 
     {
         margin-right: 25px;
     }                                         
ul li 
          {
              display: inline-block;
              margin: 4px 8px;

          }                                     
ul li a 
           {
               position: relative;
               color: #fff;
              text-decoration: none;
              font-size: 15px;font-family: 'Krona One', sans-serif;


                                         }
ul li a:before
                 {
                     position: absolute;
                     content: '';
                     left: 0;
                     bottom: 0;
                     height: 3px;
                     width: 100%;
                     background: white;
                     transform: scaleX(0);
                     transform-origin:center;
                     transition: transform .4s linear;
                 }                              
ul li a:hover 
               {
                color:rgb(37, 36, 36);
                text-decoration: none;

               }                                                 
ul li a:hover:before
                      {
                          transform: scaleX(1);
                          transform-origin: left;
                          
                      }    
          
 @media (max-width:560px) 
 {

    ul li 
          {
              display: inline-block;
              margin: 4px 4px;

          } 
   ul li a       
            {
                font-size: 12px;
                font-weight: bold;
            } 
}                    
                                /*volunteer + donate end*/
                                  /*navbar start*/
nav
    {
        background-color: #fff;
        height: 80px;
    }
    nav img 
    {
      width: 60px;
      height: 60px;
      margin: 10px 1px 0px 5%;
      border-radius: 10px;

     
    }
    nav ul 
    {
        float: right;
        margin-right: 55px;
    }
    nav ul li 
             {
                 display: inline-block;
                 line-height: 80px;
                 margin: 0 15px;

             }
             nav ul li a 
             {
                 position: relative;
                 color: #000;
                text-decoration: none;
                font-size: 15px;font-family: 'Roboto', sans-serif;
                font-weight: bold;

             }
nav ul li a:before
                        {
                             position: absolute;
                             bottom: 0;
                             height: 3px;
                             width: 100%;
                             background: #000;
                        }  
nav ul li a:hover 
                     {
                        color: #1abc9c;

                     }                                                    

label #btn,
label #cancel 
                {
                    color: #000;
                    font-size: 30px;
                    float: right;
                    line-height: 60px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
#check 
      {
        display: none;
     }
     header nav h3  
                    {
                        display: none;
                    }
                                                   
  
@media  (max-width:1083px)
{
 
   header 
            {
              height: 85vh;
            }
 header nav img 
            {
                margin-top: -30px;      
                margin-left: auto;
                display: block;       
                margin-right: 5px;
            }
header nav h3  
            {
                display: block;
                margin-left: auto;
                justify-content: center;
                text-align:center;
                margin-right: 2%;
                margin-top: -70px;
                font-family: 'Poppins', sans-serif;
            }

  label #btn 
        {
            display: block;
            padding: 0 15px;
        }
   header ul 
        {
            position: fixed;
            width: 100%;
            height:84vh;
            background: #fff;
            top: 110px;
            text-align: center;
            left: -100%;
            transition: all .4s;
        }

header nav ul li 
             {
                 display: block;
                 margin: 50px 0;
                 line-height: 4px;
             }   
header nav ul li a 
                 {
                   font-size: 20px;
                 }
                                               
header nav ul li a:hover 
                {
                   color:purple;

                 }
     
    #check:checked ~ ul 
                        {
                            left: 0;
                        }  
                  
    #check:checked ~ label #btn
                                 {
                                     display: none;
                                 }

                        
    #check:checked ~ label #cancel
                                 {
                                     display: block;
                                     color: #000;
                                     padding: 0 15px;
                                 }

.smile a 
           {
               display: none;
           }
 .smile h2 
             {
                 font-size: 12px;
                 margin-bottom: auto;
                 margin-bottom: -19vh!important;
             }          


}                        

                                 /*navbar end*/

                                 /*carousel start*/
@media (max-width:1083px)
{
    .caros  
        {
            margin-top: -70vh;
        } 
     .caros img 
                 {
                     height: 30vh!important;
                 }      
}     
.smile h2
           {
               background-color: #000;
               font-weight: bold;
           }       
  .smile a 
            {
                padding: 7px;
                border-radius: 3px;
                color: #000;
                font-weight: 500;
                font-size: 19px;
                background-color:white;
            }       
  .smile a:hover 
                {
                    text-decoration: none;
                    background: #00ffff;
                    color: #fff;
                } 
  .smile:active
                {
                    background: #00ffff!important;
                }                             
                                             

                                 
                                 
                                 /*carousel end*/
                                 /*reason start*/
.reason h1 
            {
                font-weight: 800;
                color: rgb(41, 39, 39);
            }                                 
                                 /*reason end*/

                                 /*vission and mission start*/
 .v-mission h1 
              {
                  font-weight: 700;
              }    
@media (max-width:1083px)
{
    .v-mission h1 
                   {
                       text-align: center!important;
                       font-size: 29px;
                   }
}                                          
                                 /*vission and mission end*/
                            /*counter start*/
 .num 
       {
        color:#0dbab1;
        font-size: 10vh;
        border: 15px solid #0000;
       }                 
  .counter h2 
              {
                  font-size: 40px;
              }               
@media(max-width:435px)
{
    .counter h2
             {
               font-size: 15px;
               font-weight: bold;
             }
    .num 
       {
        color:#0dbab1;
        font-size: 10vh;
       }  
}

                                   /*counter end*/
                                    
                                    /*register start*/
.register img 
              {
                  width: 180vh;
                  height: 60vh;
                  box-shadow: 15px 15px 25px #000;
              }   
                                     
.centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
.centered a 
             {
                 font-size:23px;
                 border: 2px solid transparent;
                 padding: 5px 10px;
                 text-decoration: none;
                 border-radius: 10px;
                 color: #000;
                 background: #00ffff;
                 box-shadow: 15px 15px 25px #000;
             }     
.centered a:hover 
                  {
                      text-decoration: none;
                      color: #fff;
                      background: lightcoral!important;
                  }         
  @media (max-width:535px)
  {
      .centered  
                   {
                       margin-left: 20%!important;
                    }
     .centered a 
                   {
                    font-size: 13px;
                   }      
     .centered h3 
                    {
                        font-size:15px;
                    }                       
  }                             

                                    
                                    
                                    /*register end*/


                                    
                                       /*footer start*/
 .footer
 {
  background: #1b1b1b;

 }                                      
.c1 h4
   {
   font-size: 19px;  
   font-weight: bold;
   color: #fff;
   text-align: left;
  }   
.c1 p
   {
      font-size: 15px;
      color: grey;
    }
.c1 p1 
    {
    font-size: 12px;
    color: rgb(173, 165, 165);
     }
.c1 p2 ,p3,p4
     {
       font-size: 15px;
       color: grey;

     }        
.c3 h3
{
font-size: 19px;  
font-weight: bold;
color: #fff;
text-align: left;
}     
.c3 p
   {
     color: grey;
   }        
.c4 h3 
{
font-size: 19px;  
font-weight: bold;
color: #fff;
text-align: left;
}   
.c4 img 
      {
        border-radius: 50%;
      }
.c4 a 
    {
      color: #fff;
      text-align: center;
    }       
.c4 a:hover 
          {
            color: #000;
            text-decoration: none;
          }        
.c4 p  
    {
     color: grey;
     font-size: 15px;
    }         
.social-icons .fa:hover 
               {
                  color: rgb(38, 119, 173)!important;
               }     
.social-icons .fa-facebook
                      {
                          color: orangered;
                      }       
.social-icons .fa-twitter 
                     {
                         color: green;
                     } 
.social-icons .fa-google 
                           {
                               color: rgb(190, 41, 41);
                           }                     
    .adv a:hover 
                {
                    color: grey!important;
                    font-weight: bold;
                }
    .adv a 
                {
                    font-weight: bold;
                }            
                            
                                     
@media (max-width:350px)
    {
.c4 h3 
    {
        font-size: medium;
        font-weight: bold;
        color: #fff;
       text-align: left;
    }  
    }



                                   /*footer end*/ 